html {
    width:fit-content;/*make all element take up vw unless defined*/  
}

/* sets default margin and padding to zer0*/  
* {
    margin:0;
    padding:0;
}




/*sets up some variable for commonly used color, also allowing global changes*/  
:root{
    --femclr:#49ACE7;
    --fntclr: rgb(26, 77, 230); 
}




/*background of the portfolio*/  
body{
    background-image:url("../image/background.jpg");
}



/*header formating*/  
header {
    font-family:"Cambria", "Cochin", Georgia, Times, 'Times New Roman', serif;
    background-image: linear-gradient(to right, rgb(56, 204, 224), rgb(22, 92, 162), rgb(3, 51, 99));
    font-size: 120%;
    padding: 15px 15px;
    display: flex; /*allows elements to line up in row and be wrapped upon screen width changing*/ 
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;/*keeps h1 and Nav on the opposite ends */ 
}    

/*h1 formatting making it suitable for flex*/  
header h1 {
    color:rgb(210, 232, 17);
    display:inline-block;
    text-shadow: 2px 5px 5px #074265;
}




/*formatting Nav also making fit for flex*/  
header Nav {
    margin:15px 20px;   
    display: inline-block;
    position: relative;
}



/*formatting nav links, also to not have underline*/  
header a {
    text-decoration: none;
    color:rgb(220, 224, 245);
    font-size: 90%;
    margin:10px;
}


/*making elements in main be part of flex which allows reconfig upon vw changes */ 
main {
    display: flex;
    flex-flow: column;
}


/*making formatting on profile pic, limting its max height and making width accordingly adjust */  
#profile-pic {
    height: 40vh;
    width:auto;
    border: 10px solid var(--femclr);
    border-style: ridge;
    position:absolute; /*makes image not pushing anything around by taking space*/
    right:20px;
    top:65px;
}



/*wall paper formatting*/  
pre {
    font-size: 500%;
    font-weight: bold;
    text-shadow: 10px 10px 2px rgb(0, 0, 0);
    color:var(--femclr);
    text-align: center;
    white-space:pre-wrap;/*assure pre wraps as screen width or zoom changes*/
    padding: 150px;
    background-image: linear-gradient(to top left, rgb(240, 240, 245), rgb(178, 216, 207), yellow);
}

/*keeps each part of span element as whole as it gets wrapped*/  
span.break {
    display: inline-block;
    min-width: 322px;
}


/*gives section flex, allowing title and corresponding content get in a line*/  
section {
    display:flex;
    flex-wrap: wrap;
}



/*h2 formatting making it stands against background and suitable for flex container*/  
h2 {
color:white;
text-shadow: 2px 2px 10px red;
font-size: 350%;
display: inline-block;
padding: 50px; 
min-width: 22vw; /*added to help keep content elemets aligned by having every content have same amount of space to its left*/ 

}



/*content container fomatting*/  
p {
    width: 800px;
    height: 300px;
    background-image:linear-gradient(to top left, rgb(240, 240, 245), rgb(178, 216, 207), yellow);
    background-size: 830px; /*by setting this less than 840px width of whole element,can see the background between content and border*/  
    background-repeat: no-repeat;/*does not try to fill the gap between border and background*/  
    background-position-x: right;/*allow the visible portion of page background fall on left */  
    opacity:95%;
    overflow-wrap: break-word;
    border-left:5px solid rgb(215, 21, 21);
    padding:20px;
    position:relative;
    top: 50px;
    right:20px;
    color: var(--fntclr)
}


/*with this id selector education section can be given enough separation from about me section*/  
#Education {
    margin-top: 20px;
}



/*formats the projects section through its id making it a container for the links while matching it to other sections above it*/  
#Project-history {
    background-image:linear-gradient(to top left, rgb(240, 240, 245), rgb(178, 216, 207), yellow);
    background-size: 830px;
    background-repeat: no-repeat;
    background-position-x: right;
    opacity:95%;
    padding:20px;
    position: relative;
    top:50px;
    right:20px;
    margin-top: 20px;
    border-left: 5px solid rgb(213, 12, 12);   
    flex-wrap: wrap;     /* allow project links to be wrapped into the container */
    width:800px; 
}




/*formats Ai project plceholder using its id*/  
#Ai {
    border:5px solid rgb(240, 217, 13);
    width: 700px;
    margin:20px 40px;
}


/*formats web development project plceholder using its id*/  
#coding{
    border:5px solid rgb(240, 217, 13);
    width: 350px;
    height: 306px;
    margin:20px 5px;
}




/*formats solar car project plceholder using its id*/  
#solar {
    border:5px solid rgb(240, 217, 13);
    width: 400px;
    margin:20px 5px;
}





/*formats project plceholder captions using its id*/    
figcaption {
    margin-top: -50px;
    margin-left:50px;
    color: yellow;
    text-shadow: 5px 5px 15px red;
}





/*formats links to change color as cursor hover over them, also cursor changes shape opon hovering*/   
a:hover {
    filter:brightness(50%);
    cursor:pointer;
}




/*allows links to change to red color upon being selected*/  
a:active {
    color:red;
}




/*"contact me" section formatting using its id*/  
#Contact-me {
    background-image:linear-gradient(to top left, rgb(240, 240, 245), rgb(178, 216, 207), yellow);
    background-size: 830px;
    background-repeat: no-repeat;
    background-position-x: right;
    opacity:95%;
    padding:20px;
    position: relative;
    top:50px;
    right:20px;
    margin-top: 20px;
    border-left: 5px solid rgb(213, 12, 12);
    width:800px;
    height:50px;
    justify-content: space-evenly;
    
    
}



/*formats contact me section links*/  
#Contact-me a {
    color: var(--fntclr);
    font-size: 200%;
}



/*makes content responsive to screen size changes*/

@media screen and (min-width:200px) and (max-width:850px) {
    header, section, #Project-history, pre { /*changes the flex direction & makes titles be centerd above each section content */  
      flex-direction: column;
      align-items: center;
    }
    #profile-pic{      /* readjust profile img size to not cover other elemnets in smaller screens */
        top: 150px;
        height:20%;
        margin: 0 auto;
    }

    /*makes content more visually pleasant and followable*/
    h2 {
        position:relative;
        top:30px; 
    }

    p, #Project-history, #Contact-me{
        top:0;
        margin-top: 0;
    }

    Pre{
        padding-top:250px;
     
    }
}


@media screen and (max-width: 1244px) {
    #Project-history {
      flex-direction: column;
      justify-content: center;
    }

    h2 {
        position:relative;
        top:30px; 
    }

    p, #Project-history, #Contact-me{
        top:0;
        margin-top: 0;
    }
}




