html {
    width:fit-content;
}

/*flex-wrap: wrap;*/  
* {
    margin:0;
    padding:0;
    box-sizing: content-box;
}




/*flex-wrap: wrap;*/  
:root{
    --femclr:#49ACE7;
    --fntclr: rgb(26, 77, 230); 
}




/*flex-wrap: wrap;*/  
body{
    background-image:url("../image/background.jpg");
}



/*flex-wrap: wrap;*/  
header {
    font-family:"Cambria", "Cochin", Georgia, Times, 'Times New Roman', serif;
    background-image: linear-gradient(to right, rgb(56, 204, 224), rgb(22, 92, 162), rgb(3, 51, 99));
    font-size: 120%;
    padding: 15px 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}    

/*flex-wrap: wrap;*/  
header h1 {
    color:rgb(210, 232, 17);
    display:inline-block;
    text-shadow: 2px 5px 5px #074265;
}




/*flex-wrap: wrap;*/  
header Nav {
    margin:15px 20px;   
    display: inline-block;
    position: relative;
}



/*flex-wrap: wrap;*/  
header a {
    text-decoration: none;
    color:rgb(220, 224, 245);
    font-size: 90%;
    margin:10px;
}



main {
    display: flex;
    flex-flow: column;
}


main> img {
    width: 10vw;
    height: 40vh;
}

/*flex-wrap: wrap;*/  
#profile-pic {
    max-height: 35%;
    width:auto;
    border: 10px solid var(--femclr);
    border-style: ridge;
    position:absolute;
    right:20px;
    top:65px;
}



/*flex-wrap: wrap;*/  
pre {
    font-size: 500%;
    font-weight: bold;
    text-shadow: 10px 10px 2px rgb(0, 0, 0);
    color:var(--femclr);
    text-align: center;
    white-space:pre-wrap;
    padding: 150px;
    background-image: linear-gradient(to top left, rgb(240, 240, 245), rgb(178, 216, 207), yellow);
    display:inline;

}


span.break {
    display: inline-block;
    min-width: 322px;
}


/*flex-wrap: wrap;*/  
section {
    display:flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}



/*flex-wrap: wrap;*/  
h2 {
color:white;
text-shadow: 2px 2px 10px red;
font-size: 350%;
display: inline-block;
padding: 50px; 
min-width: 22vw; /*added to help keep p elemets aligned*/ 

}



/*flex-wrap: wrap;*/  
p {
    width: 800px;
    height: 300px;
    background-image:linear-gradient(to top left, rgb(240, 240, 245), rgb(178, 216, 207), yellow);
    background-size: 830px;
    background-repeat: no-repeat;
    background-position-x: right;
    opacity:95%;
    overflow-wrap: break-word;
    border-left:5px solid rgb(215, 21, 21);
    padding:20px;
    position:relative;
    top: 50px;
    right:20px;
    color: var(--fntclr)
}


/*flex-wrap: wrap;*/  
#Education {
    margin-top: 20px;
}



/*flex-wrap: wrap;*/  
#Project-history {
    background-image:linear-gradient(to top left, rgb(240, 240, 245), rgb(178, 216, 207), yellow);
    background-size: 830px;
    background-repeat: no-repeat;
    background-position-x: right;
    opacity:95%;
    padding:20px;
    position: relative;
    top:50px;
    right:20px;
    margin-top: 20px;
    border-left: 5px solid rgb(213, 12, 12);   
    flex-wrap: wrap;
    width:800px;
    /* justify-content:space-between; */
   
}




/*flex-wrap: wrap;*/  
#Ai {
    border:5px solid rgb(240, 217, 13);
    width: 700px;
    margin:20px 40px;
}



/*flex-wrap: wrap;*/  
#coding{
    border:5px solid rgb(240, 217, 13);
    width: 350px;
    height: 306px;
    margin:20px 0;
}




/*flex-wrap: wrap;*/  
#solar {
    border:5px solid rgb(240, 217, 13);
    width: 400px;
    margin:20px 0
}





/*flex-wrap: wrap;*/  
figcaption {
    margin-top: -50px;
    margin-left:50px;
    color: yellow;
    text-shadow: 5px 5px 15px red;
}





/*flex-wrap: wrap;*/  
a:hover {
    filter:brightness(50%);
    cursor:pointer;
}




/*flex-wrap: wrap;*/  
a:active {
    color:red;
}




/*flex-wrap: wrap;*/  
#Contact-me {
    background-image:linear-gradient(to top left, rgb(240, 240, 245), rgb(178, 216, 207), yellow);
    background-size: 830px;
    background-repeat: no-repeat;
    background-position-x: right;
    opacity:95%;
    padding:20px;
    position: relative;
    top:50px;
    right:20px;
    margin-top: 20px;
    border-left: 5px solid rgb(213, 12, 12);
    width:800px;
    height:50px;
    justify-content: space-evenly;
    
    
}



/*flex-wrap: wrap;*/  
#Contact-me a {
    color: var(--fntclr);
    font-size: 200%;
}



/*flex-wrap: wrap;*/

@media screen and (min-width:250px) and (max-width:850px) {
    header, section, #Project-history, pre {
      flex-direction: column;
      align-items: center;
    }
    #profile-pic{
        top: 150px;
        height:20%;
        margin: 0 auto;
    }
    #Contact-me {
        flex-direction: row;
    }

    h2 {
        position:relative;
        top:30px; 
    }

    p, #Project-history, #Contact-me{
        top:0;
        margin-top: 0;
    }

    Pre{
        padding-top:250px;
     
    }
}


@media screen and (max-width: 1233px) {
    #Project-history {
      flex-direction: column;
      justify-content: center;
    }

    h2 {
        position:relative;
        top:30px; 
    }

    p, #Project-history, #Contact-me{
        top:0;
        margin-top: 0;
    }
}




